body {
	margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	padding: .5em;
	background-color: darkblue;
	text-align: center;
	z-index: 1; 

}


main {
	width: 50ch;
	background-color: mediumorchid;
	padding: 1em;
	margin: auto;
	margin-top: 2em;
	/* we can add box-shadow to the main */
}

#post-template {
	display: none;
}

#post-template, .post {
	position: relative;
	background-color: white;
	color: black;
	padding: 1em;
	margin-bottom: .1em;
}

#create-post-popup textarea, #add-comment-popup textarea {
	display: block;
	min-width: 100%;
	max-width: 100%;
}

#create-post-popup, #add-comment-popup {
	width: 50ch;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	background-color: cornflowerblue;
	margin-top: 2em;
	display: none;
}

.show-add-popup {
	margin-top: 0;
	display: block !important;
}

.main-add-popup {
	margin-top: 0;
}

#add-comment-popup {
	margin-top: 0;
	width: auto;
	margin-bottom: .1em;
}

.editable {
	float: right;
}

.comment {
	margin-top: .5em;
}


